{% extends "base_generic.html" %}

{% block title %}
<title>Medusa Store Home</title>
{% endblock %}

{% block content %}
<h1>Welcome to Medusa Store</h1>

<p>Welcome to <em>Medusa Store</em>, your one-stop shop for all your needs. Browse through our wide range of products and collections, and enjoy a seamless shopping experience.</p>
<p>Your cart ID is: {{ request.session.cart_id }}</p>
<h2>About Us</h2>
<p>Medusa Store offers a curated selection of high-quality products. Our mission is to provide the best shopping experience with a focus on customer satisfaction and product excellence.</p>

<h2>Dynamic Content</h2>

<p>You have visited this page {{ num_visits }} time{{ num_visits|pluralize }}.</p>

<h2>Featured Products</h2>
<div class="row">
    {% for product in featured_products %}
    <div class="col-md-4 mb-4">
        <div class="card h-100">
            <img src="{{ product.thumbnail }}" class="card-img-top" alt="{{ product.title }}">
            <div class="card-body">
                <h5 class="card-title">
                    <a href="{% url 'product_detail' product.id %}">{{ product.title }}</a>
                </h5>
                <p class="card-text">product.description</p>
            </div>
        </div>
    </div>
    {% endfor %}
</div>

{% endblock %}
