<!-- templates/catalog/product_detail.html -->
{% extends "base_generic.html" %}
{% load custom_filters %}

{% block title %}
<title>{{ product.title }}</title>
{% endblock %}

{% block content %}
<h1>{{ product.title }}</h1>
<div class="row">
    <div class="col-md-4">
      <img src="{{ product.thumbnail }}" class="card-img-top" alt="{{ product.title }}">
      
    </div>
    <div class="col-md-6">
        
        <div class="alert alert-primary" role="alert">
          {% for variant in product.variants %}
            {% for price in variant.prices %}
              {% if forloop.parentloop.last and forloop.last %}
                Earn up to + {{ price.amount|cents_to_points }} loyalty points
              {% endif %}
            {% endfor %}
          {% endfor %}
        
        </div>

        <table class="table table-bordered table-striped">
          <thead>
            <tr>
              <th>Variant Title</th>
              <th>Price</th>
              <th>Add to Cart</th>
            </tr>
          </thead>
          <tbody>
            {% for variant in product.variants %}
              {% for price in variant.prices %}
                {% if price.currency_code == 'aud' %}
                  <tr>
                    <td>{{ variant.title }}</td>
                    <td>{{ price.currency_code|upper }}: ${{ price.amount|cents_to_dollars|floatformat:2 }}</td>
                    <td>
                      <form action="{% url 'add_to_cart' variant.id 1 %}" method="post">
                        {% csrf_token %}
                        <input type="hidden" name="variant.id" value="{{ variant.id }}">
                        <button type="submit" class="btn btn-primary">Add to Cart</button>
                      </form>
                    </td>
                  </tr>
                {% endif %}
              {% endfor %}
            {% endfor %}
          </tbody>
        </table>
        
    </div>
</div>
<h2>Description</h2>
<hr>
  <p>{{ product.description }}</p>
{% endblock %}

{% block sidebar %}
  {{ block.super }}

  {% if perms.catalog.change_product or perms.catalog.delete_product %}
  <hr>
  <ul class="sidebar-nav">
    {% if perms.catalog.change_product %}
      <li><a href="{% url 'product-update' product.id %}">Update Product</a></li>
    {% endif %}
    {% if not product.variants and perms.catalog.delete_product %}
      <li><a href="{% url 'product-delete' product.id %}">Delete Product</a></li>
    {% endif %}
  </ul>
  {% endif %}
{% endblock %}
