{% extends "base_generic.html" %}
{% block title %}Profile{% endblock %}

{% block content %}
<div class="container">
    <h1>Welcome, {{ customer.first_name }} {{ customer.last_name }}</h1>
    <p>Email: {{ customer.email }}</p>
    <h2>Loyalty Points</h2>
    Get Points and place here 

    <div class="card-deck mb-3 text-center">
        <div class="card mb-4 box-shadow">
          <div class="card-header">
            <h4 class="my-0 font-weight-normal">Bronze</h4>
          </div>
          <div class="card-body">
            <h1 class="card-title pricing-card-title">0 <small class="text-muted"></small></h1>
            <ul class="list-unstyled mt-3 mb-4">
              <li>Exclusive Discounts</li>
              <li>Chat support</li>
              <li>Help center access</li>
            </ul>
            
          </div>
        </div>
        <div class="card mb-4 box-shadow">
          <div class="card-header">
            <h4 class="my-0 font-weight-normal">Silver</h4>
          </div>
          <div class="card-body">
            <h1 class="card-title pricing-card-title">1000<small class="text-muted"></small></h1>
            <p>You need 600 more points to earn silver</p>
            <ul class="list-unstyled mt-3 mb-4">
              <li>Exclusive Discounts</li>
              <li>Live chat support</li>
              <li>Same day tracking number</li>

            </ul>
            
          </div>
        </div>
        <div class="card mb-4 box-shadow">
          <div class="card-header">
            <h4 class="my-0 font-weight-normal">Gold</h4>
          </div>
          <div class="card-body">
            <h1 class="card-title pricing-card-title">2000<small class="text-muted"></small></h1>
            <ul class="list-unstyled mt-3 mb-4">
                <li>Exclusive Discounts</li>
                <li>Dedicated Account Manager</li>
                <li>Same day tracking number</li>
            </ul>
            
          </div>
        </div>
      </div>
  
    <hr>

    <!-- Shipping Addresses -->
    <h2>Shipping Addresses</h2>
    <ul>
        {% for address in customer.shipping_addresses %}
        <li>
            <strong>Address {{ forloop.counter }}:</strong><br>
            {{ address.street }}<br>
            {{ address.city }}, {{ address.state }} {{ address.zip_code }}<br>
            {{ address.country }}
        </li>
        {% endfor %}
    </ul>


</div>
{% endblock %}